/* @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;



[x-cloak] {
    display: none;
}

div{
    scrollbar-color: gray;
    scrollbar-width: 5pt;
}
